:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

body{
  
background: rgb(42,77,193);
background: linear-gradient(90deg, rgba(42,77,193,1) 0%, rgba(86,152,226,1) 50%, rgba(147,91,202,1) 100%);
}
