
.mainPage{
    width: 100%;
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}


.boxes{
    display: flex;
    flex-direction: row;
   justify-content: center;
   border-radius: 15px;
}
.leftBox{
   width: 320px; 
   height: 540px;
   margin: 0;
   
border: 1px solid #595959;

box-shadow: 0px 5px 25px rgba(0, 0, 0, 1.7); 
display: block;
}



.iconBox{
width: 310px; 
height: 65px;
   margin: 0;

color: rgb(194, 191, 191);
padding: 5px;


}

.icons{
    padding: 20px;
}

.middleBox{
display: flex;
flex-direction: column;
   width: 550px; 
   height: 540px;
   margin: 0;
border: 1px solid #595959;

box-shadow: 0px 5px 5px rgba(0, 0, 0, 1.7); 
}

.roomNameBox{
  width: 550px; 
height: 79x;
   margin: 0;
border: 1px solid #595959;  
}

.roomNameBox h2{
    color: #bebebe;
    margin-left: 30px;
    margin-top: 15px;
}

.MessageBox{
  width: 550px; 
height: 405px;
   margin: 0;
background: none;
border: 1px solid #595959;
display: block;
padding-top: 30px;
}

.inputBox{
      width: 550px; 
height: 65px;
   margin: 0;
  border-radius:  0 0 5px 5px;
  
border: 1px solid #595959;  
}

.rightBox{
background-color: aliceblue;
margin: 0;
   width: 300px; 
   height: 540px;
 
border: 1px solid white;
background-color: rgba(255, 255, 255, 0.662);
box-shadow: 0px 5px 5px rgba(0, 0, 0, 1.7); 
}

.inputMessage{
    width: 440px;
    margin: 10px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgb(54, 54, 54);
    border: none;
}

.smileButton{
       margin-top: 10px;
   margin-bottom: 10px;
   width: 40px;
   color: #bebebe;
   border: none;
  background: none;
   border-radius: 10px;
  
   font-size: 22px;
}

.sendButton{
   margin: 10px;
   margin-right: 20px; 
   width: 40px;
   color: #bebebe;
   border: none;
   background: none;
   border-radius: 10px;
  
   font-size: 22px;
}




.userIcon{
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    background-color: aliceblue;
    border-radius: 50%;
}

.usersList{
    display: block;
    width: 200px;
   
}


.createLobbyBox{
    display: block;
}

.sendMessageBox{
    display: block;
}

.usersLi{
    align-items: center;
    padding: 10px;
    display: flex;
    justify-items: center;
}

.roomName{
    color: black;
}

.settings{
    display: block;
}

.welcomeMessage{
    margin-left: 130px;
    margin-top: 30px;
}

.emojiPicker{
    position: absolute;
    right: 170px;
    top: 25px;
}