

.myMessages{
    color: black;
    border: none;
    margin: 5px;
    padding: 10px;
    background-color:  rgb(54, 54, 54);
    width: fit-content;
    border-radius: 25px;
    justify-content: space-between;
    margin-left: 30px;
        display: flex;
    flex-direction: column;
}

#username{
    color: #bebebe;
    font-size: 10px;
}

#timestamp{
    font-size: 10px;
    margin-left: 10px;
      color: #bebebe;
}

.name-and-stamp{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 0;
   height: 11px;
  margin-top: 0;
}

#message-content{
    margin-top: 0;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    color: #e1e1e1;
}