.Register {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.registerPage {
  border: 1px inset lightblue;
  box-shadow: 1px 1px 1px black;
  width: 300px;
  height: 20rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}

@keyframes blink {
  25% {
    background: rgb(42, 77, 193);
    background: linear-gradient(
      90deg,
      rgba(42, 77, 193, 1) 0%,
      rgba(86, 152, 226, 1) 50%,
      rgba(147, 91, 202, 1) 100%
    );
  }

  100% {
    background-color: transparent;
  }
}

.registerPage {
  animation: blink 5s linear infinite;
  transition: background-color 0.5s ease;
}

.registrationForm {
  width: 280px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.413);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 1.7);
}
div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.registerBtn {
  margin-top: 20px;
}
